.background{
    background-image: linear-gradient(rgba(0,0,0,50),rgba(0,0,0,50)),url(/About\ wall.jpg);
    background-image: url(/About\ wall.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fonnt{
    font-family: 'Architects Daughter', cursive;
    color: white;
    
}
h1{
    font-size: 50px;
    border: 2px solid transparent;
    margin-left: 10%;
}
.members{
    border: 2px solid transparent;
    margin-left: 10%;
    font-size: 30px;
}
.names ul li{
    text-align: center;
    list-style-type: none;
    font-size: 30px;
}
.introhead{
    font-size: 30px;
    border: 2px solid transparent;
    margin-left: 10%;
}
.introhead #detail{
    border: 2px solid transparent;
   margin-top: -20px;
}
.introhead #introh{
    margin-top: -20px;
}